.container {
  padding: 0 10px;
}

.avatar {
  @include brs();
  overflow: hidden;
  max-width: 140px;
  margin: 0 auto 30px;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.title {
  @include font(medium);
  padding-bottom: 5px;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
  color: $main_color;
}

.desc {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $main_color;
}

.scroll-down {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-bottom: 80px;
  cursor: pointer;

  &:hover,
  &:focus {
    .scroll-down__svg {
      opacity: 1;
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 26px;
    max-height: 16px;
    margin: 0 auto;
    fill: $main_color;
    opacity: .7;
  }
}

.triangles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__left {
    fill: $bg_color;
  }

  &__right {
    fill: $bg_color;
  }
}