body {
  background: $bg_color;
}

p {
  @include font(regular);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: $text_color;

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  padding: 0 10px;
}

.avatar {
  @include brs();
  overflow: hidden;
  max-width: 140px;
  margin: 0 auto 30px;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.subtitle {
  @include font(medium);
  padding-bottom: 5px;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
  color: $main_color;
}

.subtitle_dark-accent_color {
  color: $dark-accent_color;
}

.desc {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $main_color;
}

.scroll-down {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-bottom: 80px;
  cursor: pointer;

  &:hover,
  &:focus {
    .scroll-down__svg {
      opacity: 1;
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 26px;
    max-height: 16px;
    margin: 0 auto;
    fill: $main_color;
    opacity: .7;
  }
}

.triangles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__left {
    fill: $bg_color;
  }

  &__right {
    fill: $bg_color;
  }
}

.title {
  @include font(sansus);
  position: relative;
  padding-bottom: 15px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 42px;
  color: $bold_color;

  &:after {
    @include center(hor);
    bottom: 0;
    display: block;
    width: 55px;
    height: 3px;
    background: $dark-accent_color;
    content: '';
  }
}

.title_sm {
  font-size: 21px;
  line-height: 28px;
  color: $dark-accent_color;
}

.title_dark-accent_color {
  color: $dark-accent_color;
}