// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.socials {
  display: flex;

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    &:hover,
    &:focus {
      .socials__svg {
        fill: $accent_color;
      }
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 25px;
    max-height: 25px;
    fill: $main_color;
  }
}

.burger {
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    .burger__svg {
      fill: $accent_color;
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 26px;
    max-height: 26px;
    fill: $main_color;
  }
}

// Hero
.hero {
  position: relative;
  background: url("../images/water.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.author {
  padding: 75px 0 155px;
}

// About
.title-wrapper {
  position: relative;
}

.title-wrapper__svg {
  @include center();
  top: 20%;
  display: block;
  max-width: 200px;
  max-height: 70px;
  fill: rgba($acid-accent_color, .1);
}

.skills {
  margin-top: 30px;
}

.skills__area {
  .subtitle {
    padding-bottom: 10px;
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.skills__item {
  position: relative;
  width: 130px;
  height: 130px;
  margin-bottom: 10px;

  &:nth-child(odd) {
    margin-right: 20px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.skills__svg {
  stroke-width: 20;
  fill: none;
}

.skills__svg-circle-skeleton {
  stroke: $skeleton_color;
}

.skills__svg-circle {
  stroke: $fill_color;
  //stroke-dasharray: 0.01 345.4;
  stroke-dasharray: 120 345.4;
  transition: all 1s;
}

.skills__title {
  @include center();
  @include font(medium);
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  color: $bright-accent_color;
}

.skills__percentage {
  display: none;
}