// Header
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.socials {
  display: flex;

  &__item {
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
  }

  &__svg {
    display: block;
    max-width: 25px;
    max-height: 25px;
  }
}

.burger {
  display: block;

  &__svg {
    max-width: 26px;
    max-height: 23px;
  }
}