// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.socials {
  display: flex;

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    &:hover,
    &:focus {
      .socials__svg {
        fill: $accent_color;
      }
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 25px;
    max-height: 25px;
    fill: $main_color;
  }
}

.burger {
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    .burger__svg {
      fill: $accent_color;
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 26px;
    max-height: 26px;
    fill: $main_color;
  }
}

// Hero
.hero {
  background: url("../images/water.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.author {
  padding: 75px 0 155px;
}