form.form.form_center.auth__form
    div.fieldset
        input.input.input_no-left-radius(type="text" id="login" name="login" placeholder="Login")
        label(for="login").input-image.input-image_login
            svg.input-image__svg
                use(xlink:href="images/sprites/sprite.svg#login")
    div.fieldset
        input.input.input_no-left-radius(type="password" id="password" name="password" placeholder="Password")
        label(for="password").input-image.input-image_password
            svg.input-image__svg
                use(xlink:href="images/sprites/sprite.svg#password")
    div.fieldset
        input.checkbox(type="checkbox" id="human" name="human")
        label.label(for="human") I'm a human
    div.fieldset
        legend.legend Are you sure, you are not a robot?
        div.fieldset
            input.radio(type="radio" id="yes" name="notRobot" value="yes")
            label.label(for="yes") Yes
        div.fieldset
            input.radio(type="radio" id="no" name="notRobot" value="no" checked)
            label.label(for="no") Not sure