footer.footer
    .footer__general
        .footer__general-summary
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid, cumque delectus dignissimos impedit laudantium maiores necessitatibus odio, perferendis quia repellendus sint vel vero.
        .footer__general-links
            +nav("nav", "nav_compact")
            +socials("socials", "socials_grey-white_color")
        .footer__general-quote
            blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur, consequatur corporis et omnis sequi tenetur! Adipisci animi enim ex labore laborum nemo nihil ratione repellendus suscipit voluptates?
            span.quote-author — Lorem ipsum.
    .footer__copyright
        p &copy; Lorem ipsum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, excepturi.