footer.footer
    .footer__general
        .footer__general-summary
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .footer__general-links
            +nav("nav", "nav_compact")
            +socials("socials", "socials_color_grey-white socials_center")
        .footer__general-quote
            blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur, consequatur corporis et omnis sequi tenetur!
            span.quote-author — Lorem ipsum.
    .footer__copyright
        p &copy; Lorem ipsum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, excepturi.