header.header
    +links(
        "socials",
        socials__titles,
        socials__hrefs,
        socials__svgs
    )
    button.burger
        svg(class="burger__svg")
            use(xlink:href="images/sprites/svg/sprite.svg#menu")