extends ../layout/_layout

block title
    title About me

block content
    section.hero
        .container
            include ../modules/header
            include ../modules/author
        include ../elements/scroll-down-triangles
    section.about
        +title(
            ["About me"],
            ["about"]
        )
        .about__intro
            .about__photo
                img.photo__img(src="images/photo.jpg" alt="Photo")
            .container
                h2.title.title_sm Who am I
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis cumque ducimus eligendi error esse ex excepturi expedita id illo ipsum laborum, laudantium magni minima modi molestiae obcaecati odio odit perspiciatis praesentium quam quas quasi quisquam, sed tempora totam vero voluptatibus? Alias ducimus eius expedita harum molestiae necessitatibus officiis sit!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aspernatur deserunt et id magnam modi obcaecati quidem reiciendis repellat, saepe suscipit, voluptate voluptatum! Culpa cum deserunt distinctio facere impedit iusto officia perferendis suscipit tempore temporibus! Accusantium adipisci blanditiis earum esse fugit id minus non nulla, odit, placeat quis tempore?
        .about__skills
            .container
                h2.title.title_sm How can I help You
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque distinctio dolorum eveniet magni minus, optio perspiciatis sed tempora temporibus. Dolor modi neque odio quod ratione? Cum deserunt nostrum unde!
                include ../modules/skills
    section.map