extends ../layout/_layout

block title
    title About me

block content
    section.hero
        .container
            include ../modules/header
            include ../modules/author
        include ../elements/scroll-down-triangles