extends ../layout/_layout

block title
    title Welcome!

block content
    +main-bg("welcome__main-bg")
    main.welcome
        +btn_auth("welcome__btn_desktop")
        header.welcome__header
            +btn_auth("welcome__btn_mobile")
            +author("welcome__author")
            +socials("socials", "socials_fill_grey socials_center welcome__socials")
            +nav("nav", "welcome__nav", welcome__nav)
    +footer("footer__copyright_background_transparent")