extends ../layout/_layout

block title
    title Welcome!

block content
    main.lobby
        +main-bg("lobby__main-bg")
        +btn_auth("lobby__btn")
        header.lobby__header
            .welcome
                +btn_auth("welcome__btn")
                +intro("welcome__intro")
                +socials("socials", "socials_fill_grey socials_center welcome__socials")
                +nav("nav", "lobby__nav", welcome__nav)
            .auth
                h2.title.title_color_main.auth__title Log in
                include ../modules/auth__form
    +footer("footer_absolute","footer__copyright_background_transparent")