extends ../layout/_layout

block title
    title My works

block content
    section.hero
        +main-bg
        include ../modules/header
        +intro("hero__intro")
        include ../modules/scroll-down--triangles
    section.works
        +title(
            ["My works"],
            ["works"]
        )
        include ../modules/slider
    section.quotes
        .title What people say about me


    +footer("footer_absolute")