// Colors
$main_color: #ffffff;
$accent_color: #65873d;
$outline_color: #373e42;
$bg_color: #f8f9f5;
$bold_color: #373e42;
$dark-accent_color: #566358;
$acid-accent_color: #a4c43a;
$bg-accent_color: #ebefe2;
$bg-secondary_color: #f4f5f0;
$text-color: #5d5a55;