// Colors
$bright-accent_color: #4e8839;
$accent_color: #65873d;
$fill_color: #6c9c5a;
$acid-accent_color: #a4c43a;
$svg-accent_color: #7e9b5c;
$dark_color: #122620;
$shadow_color: rgba(#000, .16);
$bold_color: #373e42;
$text_color: #5d5a55;
$dark-accent_color: #566358;
$text-secondary_color: #5f5a55;
$link_color: #6da3bd;
$nav-bg_hover_color: rgba(#93998d, .7);
$nav-bg_color: rgba(#b0b7aa, .7);
$checkbox-border_color: #cccccc;
$input-image_color: #c4cbcd;
$border_color: #dee3e7;
$skeleton_color: #dfdcd5;
$slide-bg_color: #e1e4d7;
$bg-accent_color: #ebefe2;
$bg_color: #f8f9f5;
$bg-secondary_color: #f4f5f0;
$input-image-bg_color: #f0efe9;
$layout-block_color: #fcfcfc;
$main_color: #ffffff;