.about__intro {
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: $bg-accent_color;

  p {
    color: $dark-accent_color;
  }
}

.about__photo {
  max-width: 100%;
  margin-bottom: 30px;
}

.photo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__skills {
  background: $bg-secondary_color;
}