.about {
  background: $bg-secondary_color;
}

.about__intro {
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: $bg-accent_color;

  p {
    color: $dark-accent_color;
  }
}

.about__photo {
  max-width: 100%;
  margin-bottom: 30px;
}

.photo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.map {
  min-height: 1150px;
  background: url("../images/map.jpg") 65% 0% no-repeat;

  .title {
    padding-top: 30px;
    margin-top: 0;
  }

  &__contacts {
    background: rgba($layout-block_color, .85);
  }
}