.auth {
  &__title.title {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0;
  }

  &__form {
    padding: 10px 0 0;
  }

  &__fieldset {
    padding: 0 20px;
  }

  &__nav {
    margin-top: 40px;
  }
}