.btn {
  @include font(medium);
  position: relative;
  display: inline-block;
  min-width: 150px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $main_color;
  background: $fill_color;
  transition: all .3s;

  &:hover {
    background: $bright-accent_color;
  }

  &_auth {
    border: 1px solid $main_color;
    background: transparent;

    &:hover {
      border-color: $bright-accent_color;
      background: $bright-accent_color;
    }
  }

  &_link {
    &:before {
      display: inline-block;
      width: 20px;
      height: 19px;
      margin: 0 10px -4px 0;
      background: url("../images/link.svg") no-repeat center;
      content: '';
    }
  }
}