.burger {
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    .burger__svg {
      fill: $accent_color;
    }
  }

  &__svg {
    display: block;
    max-width: 26px;
    max-height: 26px;
    fill: $main_color;
    transition: all .3s;
  }
}