.scroll-down {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-bottom: 80px;
  cursor: pointer;

  &:hover,
  &:focus {
    .scroll-down__svg {
      opacity: 1;
    }
  }

  &__svg {
    @include trans();
    display: block;
    max-width: 26px;
    max-height: 16px;
    margin: 0 auto;
    fill: $main_color;
    opacity: .7;
  }
}