.socials {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 5px 30px 5px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    &:hover,
    &:focus {
      .socials__svg {
        fill: $accent_color;
      }
    }
  }

  &__svg {
    display: block;
    max-width: 25px;
    max-height: 25px;
    fill: $main_color;
    transition: all .3s;
  }

  // Modificators
  &_fill_grey {
    .socials {
      &__svg {
        fill: rgba($main_color, .5);
      }
    }
  }

  &_fill_grey-white {
    .socials {
      &__link {
        &:hover,
        &:focus {
          .socials__svg {
            fill: $main_color;
          }
        }
      }

      &__svg {
        fill: rgba($main_color, .5);
      }
    }
  }

  &_center {
    justify-content: center;
  }
}