.subtitle {
  @include font(medium);
  margin-bottom: 5px;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
  color: $main_color;

  &_left {
    text-align: left;
  }

  &_color_dark-accent {
    color: $dark-accent_color;
  }
}