.welcome {
  display: none;

  &__btn {
    @include center(x);
    top: -80px;
  }

  &__intro {
    padding: 0 20px;

    .desc p {
      margin-bottom: 10px;
      color: rgba($main_color, .8);
    }
  }

  &__socials {
    padding: 30px 20px;
  }
}