.input {
  @include font(regular);
  padding: 10px 20px;
  border: 1px solid $main_color;
  border-radius: 25px;
  font-size: 14px;
  line-height: 24px;
  color: $bold_color;
  background: $main_color;
  transition: all .3s;

  &::placeholder {
    opacity: .5;
  }

  &:hover,
  &:focus {
    border-color: $fill_color;

    & ~ .input-image {
      .input-image__svg {
        fill: $fill_color;
      }
    }
  }

  &_no-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}