.radio {
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;

  &:checked {
    + .label_radio {
      &:before {
        border-color: $fill_color;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}